.hidden {
    display: none;
}

div.naturalsciencefont0 {
    font-family: Times;
}

div.socialsciencefont0 {
    font-family: calibri;
}

div.sourcecodefont0 {
    font-family: "Courier New", Courier, monospace;
    font-size: 12px;
}

textarea.sourcecodefont0 {
    font-family: "Courier New", Courier, monospace;
    font-size: 12px;
}

textarea.txt_sourcecodefont0
{
    background: transparent;
    font-family: "Courier New", Courier, monospace;
    font-size: 12px;
}

div.txt_sourcecodefont0
{
    background: transparent;
    font-family: "Courier New", Courier, monospace;
    font-size: 12px;
    overflow-y: scroll;
    width: 100%;
    height: 300px;
}

div.txt_sourcecodefont1
{
    background: transparent;
    font-family: "Courier New", Courier, monospace;
    font-size: 12px;
    width: 100%;
}

input[type=button].view_switch {
    color: grey;
    background-color: transparent;
    border: 1px solid silver;
    padding: 5px 10px;
}

div.para0 {
    margin: 5px 0 0 0;
}

div.para_sep0 {
    padding-top: 6px;
}

div.para_sep1 {
    padding-top: 12px;
}

div.para_sep2 {
    padding-top: 24px;
}

div.para_box0 {
    padding: 10px;
    border-style: solid;
    border-width: 1px;
}

div.lindenthb {
    margin: 0 0 0 0px;
}

div.lindent00 {
    margin: 0 0 0 25px;
}

div.lindent0a {
    display: list-item;
    list-style-type: disc;
    margin: 0 0 0 25px;
}

div.lindent0b {
    display: list-item;
    list-style-type: circle;
    margin: 0 0 0 25px;
}

div.lindent0c {
    display: list-item;
    list-style-type: square;
    margin: 0 0 0 25px;
}

div.hscrollable_container {
    overflow-x:scroll;
    overflow-y:hidden;
    width:100%;
    height:100%;
}

span.hl_black_tor0 {
    background-color: cadetblue;
}

span.hl_black_tor1 {
    background-color: cornflowerblue;
}

span.hl_black_tor2 {
    background-color: lightskyblue;
}

span.hl_azure_dra0 {
    background-color: green;
}

span.hl_azure_dra1 {
    background-color: mediumseagreen;
}

span.hl_azure_dra2 {
    background-color: lightgreen;
}

span.hl_vermilion_bir0 {
    background-color: hotpink;
}

span.hl_vermilion_bir1 {
    background-color: lightpink;
}

span.hl_vermilion_bir2 {
    background-color: mediumorchid;
}

span.hl_yellow_qil0 {
    background-color: burlywood;
}

span.hl_yellow_qil1 {
    background-color: bisque;
}

span.hl_yellow_qil2 {
    background-color: beige;
}

span.hl_white_tig0 {
    background-color: darkgrey;
}

span.hl_white_tig1 {
    background-color: lightgrey;
}

span.hl_white_tig2 {
    background-color: aliceblue;
}

table.uc_description {
  border-collapse: collapse;
  width: 100%;
}

table.uc_description tr, table.uc_description tr td {
  border: 1px solid black;
}

table.uc_description tr td:first-child {
  width: 200px;
  vertical-align: top;
  font-weight: bold;
}

ol.uc_desc_flow {
  margin-top: 0px;
  margin-bottom: 0px;
}
